.about__profile-image {
  max-width: 980px;
  margin: 0 auto;
  padding: 105px 0 72px;
}

.about__title {
  color: $black;
  margin: 0 auto 32px;
  text-align: center;
  max-width: 980px;
  font-size: 40px;
}

.about__description {
  color: #555;
  max-width: 980px;
  padding: 0 20px;
  margin: 0 auto 72px;
  text-align: center;

  p {
    margin-bottom: 16px;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.about__cta-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 105px;

  .button {
    margin: 0 12px;
  }
}
