.blog-card {
  max-width: 980px;
  margin: 0 auto 32px;
  border-radius: 5px;
  background: white;
  display: flex;
  height: 225px;
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(1, 22, 39, 0.2);
  text-decoration: none;
  color: $black;
  transition: all .25s ease-in-out;

  &:hover {
    box-shadow: 0 5px 15px 0 rgba(1, 22, 39, 0.2);
    transform: translateY(-5px);
  }
}

.blog-card__text-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 32px;
}

.blog-card__title {
  font-size: 32px;
  margin-bottom: 16px;
}

.blog-card__summary {
  color: #555;
}
