.header {
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(30, 30, 30, 0.25);
}

.header__inner-wrapper {
  align-items: center;
  display: flex;
  max-width: 1440px;
  margin: 0  auto;
  padding: 24px 0;
}
