.hero {
  position: relative;
}

.hero__text {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, .3);
}

.hero__text-wrapper {
  max-width: 980px;
  padding: 0 20px;
}

.hero__title {
  color: white;
  font-size: 72px;
  font-weight: $bold;
}

.hero__description {
  color: white;
  font-size: 20px;
  font-weight: $reg;
  text-align: center;
}
