.recent-photos {
  max-width: 1440px;
  margin: 0 auto;
  padding: 105px 0;
  text-align: center;

  .button {
    display: inline-block;
    min-width: 140px;
  }
}

.recent-photos__title {
  font-size: 40px;
  margin-bottom: 32px;
  color: $black;
}

.recent-photos__wrapper {
  margin-bottom: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.recent-photos__card {
  border-radius: 3px;
  height: auto;
  width: 100%;
  margin: 0 8px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
  transition: transform .2s ease-out;

  &:hover {
    cursor: pointer;
    transform: translateY(-5px);

    .recent-photos__card-title {
      opacity: 1;

      h3 {
        transform: translateY(15px);
      }
    }
  }
}


.recent-photos__card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(2,0,36,0) 100%);
  transition: opacity .3s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;

  h3 {
    color: white;
    font-size: 24px;
    transform: translateY(50px);
    transition: transform .3s ease-out;
  }
}
