* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button {
  border-radius: 3px;
  background: $black;
  color: white;
  font-weight: $bold;
  text-decoration: none;
  padding: 12px 24px;
  transition: all .2s ease-out;

  &:hover {
    color: $primary;
  }
}
