* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.layout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .footer {
    margin-top: auto;
  }
}

.button {
  border-radius: 3px;
  background: rgba(1, 22, 39, .1);
  color: $black;
  font-weight: $bold;
  text-decoration: none;
  padding: 12px 24px;
  transition: all .2s ease-out;

  &:hover {
    color: white;
    background: $black;
  }
}

p {
  line-height: 1.8;
}

button {
  border: none;
  box-shadow: none;
  line-height: 1.4;
  font-size: 16px;
  min-width: 140px;

  &:hover {
    cursor: pointer;
  }
}
