@import 'settings/variables';
@import 'base/general';

// components
@import 'components/branding';
@import 'components/footer';
@import 'components/header';
@import 'components/hero';
@import 'components/link-button';
@import 'components/navigation';
@import 'components/social-media';
@import 'components/recent-photos';
@import 'components/home';
